.footer-container
{
    
    background-image: url("../../assets/footer/footer_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 320px;
    font-family:'Lato';}
.footer-above
{
    display: flex;
    justify-content: space-around;
    padding-top:20px;
}
.footer-aboutus-text
{
    width:209px;
    font-size: 12px;
    margin-top: 3px;
}
.footer-contact-text
{
    width: 196px;
    font-size: 12px;
    margin-top:3px;
}
.footer-contact-no,.footer-contact-email
{
    font-size: 12px;
}
.footer-contact-no
{
    margin:3px 0px 3px 0px;
}
.footer-bottom
{
    text-align: center;
    color: white;
    margin-top:150px;
}
.footer-column-header
{
    font-size: 14px;
}
.footer-k li
{
  font-size: 12px;
  margin: 4px 0px 0px 0px;
}
.footer-j li
{
   font-size: 12px;
   margin: 4px 0px 0px 0px;
}
